* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1 {
    color: rgb(228, 63, 228);
    font-family: serif;
    margin-bottom: 10px;
}


.tittle {
    font-size: 18px;
    font-family: monospace;
}

.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0px;
}

.nav li {
    display: inline-block;
}

.nav a {
color: white;
background-color: #9bf4b8;
padding: 5px;
border-radius: 3px;
text-decoration: none;

}
.nav .Blog {
    background-color: rgb(118, 26, 26);
}

